<!--================Home Banner Area =================-->
<section class="home_banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="container">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="banner_content text-center">
							<div class="date">
								<a class="gad_btn" href="#">Thời trang</a>
								<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4, 2019</a>
							</div>
							<h3>Chào Hè tươi mát với trang phục họa tiết hoa quả nhiệt đới</h3>
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="banner_content text-center">
							<div class="date">
								<a class="gad_btn" href="#">Du lịch</a>
								<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4, 2019</a>
							</div>
							<h3>8 điểm đến gần Hà Nội và dễ đi trong dịp 30/4</h3>

						</div>
					</div>
					<div class="carousel-item">
						<div class="banner_content text-center">
							<div class="date">
								<a class="gad_btn" href="#">Tâm sự và cuộc sống</a>
								<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4, 2019</a>
							</div>
							<h3>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h3>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Search Bar =================-->
<form class="container mt-5">
	<div class="form-group border">
		<div class="input-group">
			<input type="text" class="form-control border rounded-0" placeholder="Tìm kiếm chuyên mục, tiêu đề, nội dung" name="search" >
			<div class="input-group-btn">
				<button type="submit" class="btn rounded-0" >
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
		<div>
			<select class="form-control w-100 rounded-0">
				<option value="">(Chuyên đề)</option>
				<option value="AN1">Âm nhạc</option>
				<option value="BDS1">Bất động sản</option>
				<option value="CN1">Công nghệ</option>
				<option value="DL1">Du lịch</option>
				<option value="GD1">Gia đình</option>
				<option value="KD1">Kinh doanh</option>
				<option value="PL1">Pháp luật</option>
				<option value="SK1">Sức khỏe</option>
				<option value="TH1">Truyền hình</option>
				<option value="TS1">Tâm sự</option>
				<option value="TT1">Thời trang</option>
				<option value="TTA1">Thể thao</option>
			</select>
		</div>
	</div>
</form>
<!--================End Search Bar =================-->


<!--================Choice Area =================-->
<section class="choice_area p_120">
	<div class="container">
		<div class="main_title2">
			<h2>Bài viết nổi bật</h2>
		</div>
		<div class="row choice_inner">
			{{#if tinNoiBat }}
			{{#each tinNoiBat}}
			<div class="col-lg-3 col-md-6">
				<div class="choice_item">
					<img class="img-fluid" src="/{{this.AnhDaiDien}}" alt="" style="width:300px;height:200px">
					<div class="choice_text">
						<div class="date">
							<a class="gad_btn" href="#">{{TenChuyenMuc}}</a>
							<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{format NgayDang}}</a>
							<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{slbinhluan}}</a>
							<a href="#"><i class="fa fa-eye"></i>{{LuotXem}}</a>
						</div>
						<a href="/post/{{IDBaiViet}}">
							<h4>{{TieuDe}}</h4>
						</a>
						<p>
							{{XemTruoc}}
						</p>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<h3>Không có bài viết nổi bật hiển thị</h3>
			{{/if}}

		</div>
	</div>
</section>
<!--================End Choice Area =================-->

<!--================News Area =================-->
<section class="news_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="main_title2">
					<h2>Bài viết mới nhất</h2>
				</div>
				<div class="latest_news">
					{{#each tinMoiNhat}}
					<div class="media">
						<div class="d-flex">
							<img class="img-fluid" src="{{AnhDaiDien}}" alt="" style="width:300px;height:200px">
						</div>
						<div class="media-body">
							<div class="choice_text">
								<div class="date">
									<a class="gad_btn" href="#">{{TenChuyenMuc}}</a>
									<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{format NgayDang}}</a>
									<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{slbinhluan}}</a>
									<a href="#"><i class="fa fa-eye"></i>{{LuotXem}}</a>
								</div>
								<a href="/post/{{IDBaiViet}}">
									<h4>{{TieuDe}}</h4>
								</a>
								<p>
									{{XemTruoc}}
								</p>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="col-lg-4">
				<div class="right_sidebar">
					<aside class="r_widgets news_widgets">
						<div class="main_title2">
							<h2>Bài viết được xem nhiều nhất</h2>
						</div>
						<div class="choice_item">
							<img class="img-fluid" src="/{{tinXemNhieu1.AnhDaiDien}}" alt="">
							<div class="choice_text">
								<div class="date">
									<a class="gad_btn" href="#">{{tinXemNhieu1.TenChuyenMuc}}</a>
									<a href="#"><i class="fa fa-calendar"
											aria-hidden="true"></i>{{format tinXemNhieu1.NgayDang}}</a>
									<a href="#"><i class="fa fa-eye"></i>{{tinXemNhieu1.LuotXem}}</a>
								</div>
								<a href="/post/{{tinXemNhieu1.IDBaiViet}}">
									<h4>{{tinXemNhieu1.TieuDe}}</h4>
								</a>
								<p>{{tinXemNhieu1.XemTruoc}}
								</p>
							</div>
						</div>
						<div class="news_slider owl-carousel">
							{{#each tinXemNhieu}}
							<div class="item">
								<div class="choice_item">
									<img src="/{{AnhDaiDien}}" alt="" style="width:165px;heigh:116.47px">
									<div class="choice_text">
										<a href="/post/{{IDBaiViet}}">
											<h4>{{TieuDe}}</h4>
										</a>
										<div class="date">
											<a href="#"><i class="fa fa-calendar"
													aria-hidden="true"></i>{{format NgayDang}}</a>
									<a href="#"><i class="fa fa-eye"></i>{{LuotXem}}</a>

										</div>
									</div>
								</div>
							</div>
							{{/each}}
						</div>
					</aside>
					<!-- <aside class="r_widgets add_widgets text-center">
											<img class="img-fluid" src="img/blog/add-1.jpg" alt="">
										</aside> -->
					<aside class="r_widgets social_widgets">
						<div class="main_title2">
							<h2>Mạng xã hội</h2>
						</div>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i> 983Likes <span>Like our
										page</span></a>
							</li>
							<li><a href="#"><i class="fa fa-twitter"></i> 983Followers <span>Follow
										Us</span></a>
							</li>
							<li><a href="#"><i class="fa fa-youtube-play"></i> 9835Subscriber
									<span>Subscribe</span></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i> 59874Subscriber
									<span>Subscribe</span></a>
							</li>
							<li><a href="#"><i class="fa fa-pinterest"></i> 36958Followers <span>Follow
										Us</span></a></li>
							<li><a href="#"><i class="fa fa-rss"></i>RSS Subscribe <span>Subscribe</span></a>
							</li>
						</ul>
					</aside>
					<aside class="r_widgets newsleter_widgets">
						<div class="main_title2">
							<h2>Bản tin</h2>
						</div>
						<div class="nsl_inner">
							<i class="fa fa-envelope"></i>
							<h4>Theo dõi bản tin của chúng tôi</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua adipisicing</p>
							<div class="form-group d-flex flex-row">
								<div class="input-group">
									<input type="text" class="form-control" id="inlineFormInputGroup"
										placeholder="Enter your email address" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Enter email'">
								</div>
								<a href="#" class="bbtns">Subcribe</a>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
</section>
<!--================End News Area =================-->

<!--================Product List Area =================-->
<section class="product_list_area p_100">
	<div class="container">
		<div class="row product_list_inner">
			<div class="col-lg-4">
				<div class="main_title2">
					<h2>Top chuyên mục</h2>
				</div>
				<div class="product_list">
					{{#each top1}}
					<div class="media">
						<div class="d-flex">
							<img src="/{{AnhDaiDien}}" alt="" style="width:100px;heigh:80px">
						</div>
						<div class="media-body">
							<div class="choice_text">
								<a href="/post/{{IDBaiViet}}">
									<h4>{{TieuDe}}</h4>
								</a>
								<div class="date">
									<a class="gad_btn" href="/category/{{IDChuyenMuc}}">{{TenChuyenMuc}}</a>
									<br><a href="#"><i class="fa fa-calendar"
											aria-hidden="true"></i>{{format NgayDang}}</a>
									<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{slbinhluan}}</a>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="col-lg-4">
				<div class="main_title2">
					<h2>Top chuyên mục</h2>
				</div>
				<div class="product_list">
					{{#each top2}}
					<div class="media">
						<div class="d-flex">
							<img src="/{{AnhDaiDien}}" alt="" style="width:100px;heigh:80px">
						</div>
						<div class="media-body">
							<div class="choice_text">
								<a href="/post/{{IDBaiViet}}">
									<h4>{{TieuDe}}</h4>
								</a>
								<div class="date">
									<a class="gad_btn" href="/category/{{IDChuyenMuc}}">{{TenChuyenMuc}}</a>
									<br><a href="#"><i class="fa fa-calendar"
											aria-hidden="true"></i>{{format NgayDang}}</a>
									<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{slbinhluan}}</a>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="col-lg-4">
				<div class="main_title2">
					<h2>Top chuyên mục</h2>
				</div>
				<div class="product_list">
					{{#each top3}}
					<div class="media">
						<div class="d-flex">
							<img src="/{{AnhDaiDien}}" alt="" style="width:100px;heigh:80px">
						</div>
						<div class="media-body">
							<div class="choice_text">
								<a href="/post/{{IDBaiViet}}">
									<h4>{{TieuDe}}</h4>
								</a>
								<div class="date">
									<a class="gad_btn" href="/category/{{IDChuyenMuc}}">{{TenChuyenMuc}}</a>
									<br><a href="#"><i class="fa fa-calendar"
											aria-hidden="true"></i>{{format NgayDang}}</a>
									<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{slbinhluan}}</a>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Product List Area =================-->
</body>

</html>