<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
		</div>
		<div class="container">
			<div class="banner_content text-center">
				<h2>{{baiViet.TieuDe}}</h2>
				<div class="page_link">
					<a href="/">Trang chủ</a>
					<a href="/post/{{baiViet.IDBaiViet}}">{{baiViet.TieuDe}}</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->
<!--================News Area =================-->
<section class="news_area single-post-area p_100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="main_blog_details">
					<img class="img-fluid" src="/{{baiViet.AnhDaiDien}}" alt="" style="width:100%">
					<a href="/post/{{baiViet.IDBaiViet}}">
						<h4>{{baiViet.TieuDe}}</h4>
					</a>
					<div class="user_details">
						<div class="float-left">
							{{#each nhan}}
							<a href="/tag/{{tentag}}">{{tentag}}</a>
							{{/each}}
						</div>
						<div class="float-right">
							<div class="media">
								<div class="media-body">
									<h5>{{baiViet.nguoidang}}</h5>
									<p>{{format baiViet.NgayDang}}</p>
								</div>
								<div class="d-flex">
									<img src="/img/blog/user-img.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<article class="result">
						{{{baiViet.NoiDung}}}
					</article>
					{{!-- <p>Cuộc sống của mỗi người chúng ta giống như một chuyến đi dài vô tận không có bản đồ. Trong hành trình cuộc đời, bạn phải dừng chân tại nhiều nơi khác nhau, đổi hướng đi tới những con đường chưa hề biết đến. Thường xuyên thay đổi định hướng và có đôi khi bạn dường như bị lạc, mặc dù bạn ghét phải thừa nhận điều này.</p>
       						<p>Tuy nhiên, thật đáng buồn rằng có một số người kiên quyết mang theo bản đồ cho riêng mình để đảm bảo rằng bản thân luôn chắc chắn mọi điều. Tất cả các con đường đều có sẵn trên bản đồ và họ sẽ không bao giờ bị lạc.</p>
							<blockquote class="blockquote">
								<p class="mb-0">Nếu cuộc sống đơn giản chỉ là tồn tại thì nó giống như một chiếc máy bay điều khiển tự động, với đôi mắt mở to nhưng không nhìn thấy gì cả, cũng không thực sự cảm thấy hoặc trải nghiệm được gì. Bạn cứ bước đi hết bước này đến bước khác theo một hướng duy nhất. Không có cảm xúc, không có thách thức và chắc chắn không có được niềm vui nếu chỉ đơn giản lặp đi lặp lại một công việc mà bạn làm hàng ngày, trong khi mong đợi một điều gì khác.</p>
							</blockquote>
							<p>Trừ khi bạn cảm thấy sâu thẳm bên trong mình rằng cuộc sống không có nghĩa là như vậy thì có nhiều điều hơn thế mà bạn cần phải thay đổi. Là một người yêu thích sự thay đổi, tác giả của bài viết đã rút ra một số việc cần phải làm để cuộc sống trở nên thực sự ý nghĩa và từ đó bạn có thể bắt đầu yêu từng khoảng khắc trong cuộc sống của mình lại một lần nữa. Mời các bạn cùng tham khảo 9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa!</p> --}}
					<div class="news_d_footer">
						<a class="justify-content-left ml-auto" href="#"><i class="lnr lnr lnr-bubble"></i>{{baiViet.slbinhluan}} Bình luận</a>
					</div>
				</div>
				<div class="comments-area">
					{{#if binhLuan}}
					<h4>{{baiViet.slbinhluan}} Bình luận</h4>
					{{#each binhLuan}}
					<div class="comment-list">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="/img/blog/c1.jpg" alt="">
								</div>
								<div class="desc">
									<h5><a href="#">{{nguoibinhluan}}</a></h5>
									<p class="date">{{format NgayDang}}</p>
									<p class="comment">
										{{noidung}}
									</p>
								</div>
							</div>							
						</div>
					</div>	
					{{/each}}
					{{else}}
					<h4>Không có bình luận</h4>
					{{/if}}
				</div>
				{{#if _user}}
				<div class="comment-form">
					<h4>Để lại phản hồi</h4>
					<form method="POST">						
						<div class="form-group">
							<textarea class="form-control mb-10" rows="5" name="noidung" placeholder="Phản hồi của bạn"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
								required=""=></textarea>
						</div>
						<input type="submit" class="primary-btn submit_btn">Đăng bình luận</input>
					</form>
				</div>
				{{else}}
				<h3>Vui lòng đăng nhập để bình luận. Đăng nhập <a href="/user/login">Tại đây</a></h3>
				{{/if}}
			</div>
			<div class="col-lg-4">
				<div class="right_sidebar">
					<aside class="r_widgets news_widgets">
						<div class="main_title2">
							<h2>Bài viết ngẫu nhiên cùng chuyên mục</h2>
						</div>
						<div class="choice_item">
							<img class="img-fluid" src="/{{random1bai.AnhDaiDien}}" alt="">
							<div class="choice_text">
								<div class="date">
									<!-- <a class="gad_btn" href="#">Gadgets</a> -->
									<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{format random1bai.NgayDang}}</a>
								</div>
								<a href="/post/{{random1bai.idbaiviet}}">
									<h4>{{random1bai.TieuDe}}</h4>
								</a>
								<p>{{random1bai.XemTruoc}}</p>
							</div>
						</div>
						<div class="news_slider owl-carousel">
							{{#each baiVietChuyenMuc}}
							<div class="item">
								<div class="choice_item">
									<img src="/{{AnhDaiDien}}" alt="">
									<div class="choice_text">
										<a href="/post/{{idbaiviet}}">
											<h4>{{TieuDe}}</h4>
										</a>
										<div class="date">
											<!-- <a class="gad_btn" href="#">Gadgets</a> -->
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{format NgayDang}}</a>
										</div>
									</div>
								</div>
							</div>
							{{/each}}							
						</div>
					</aside>
					<!-- <aside class="r_widgets add_widgets text-center">
        						<img class="img-fluid" src="/img/blog/add-1.jpg" alt="">
        					</aside> -->
					<aside class="r_widgets social_widgets">
						<div class="main_title2">
							<h2>Mạng xã hội</h2>
						</div>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i> 983Likes <span>Like our page</span></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i> 983Followers <span>Follow Us</span></a></li>
							<li><a href="#"><i class="fa fa-youtube-play"></i> 9835Subscriber <span>Subscribe</span></a>
							</li>
							<li><a href="#"><i class="fa fa-vimeo"></i> 59874Subscriber <span>Subscribe</span></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i> 36958Followers <span>Follow Us</span></a>
							</li>
							<li><a href="#"><i class="fa fa-rss"></i>RSS Subscribe <span>Subscribe</span></a></li>
						</ul>
					</aside>
					<aside class="r_widgets newsleter_widgets">
						<div class="main_title2">
							<h2>Bản tin</h2>
						</div>
						<div class="nsl_inner">
							<i class="fa fa-envelope"></i>
							<h4>Theo dõi bản tin của chúng tôi</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua adipisicing</p>
							<div class="form-group d-flex flex-row">
								<div class="input-group">
									<input type="text" class="form-control" id="inlineFormInputGroup"
										placeholder="Enter your email address" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Enter email'">
								</div>
								<a href="#" class="bbtns">Subcribe</a>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Include the Quill library -->
<!--================End News Area =================-->